.container {
    display: flex;
    gap: 10px;
}

.categories .item {
    cursor: pointer;
}

.categories .item:hover, .products li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.hidden {
    display: none;
}

.actions {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 5px;
}